.loading-skeleton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading-skeleton .thumbnail {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 4px;
}

.loading-skeleton .title {
    width: 150px;
    height: 25px;
    background-color: #ccc;
    border-radius: 4px;
}

.loading-skeleton .message {
    width: 450px;
    height: 25px;
    background-color: #ccc;
    border-radius: 4px;
}

.loading-skeleton .image {
    width: 500px;
    height: 200px;
    background-color: #ccc;
    border-radius: 4px;
}

.loading-skeleton .text-area {
    width: 100%;
    height: 155px;
    background-color: #ccc;
    border-radius: 4px;
}

.loading-skeleton .title,
.loading-skeleton .message,
.loading-skeleton .thumbnail,
.loading-skeleton .image 
.loading-skeleton .text-area {
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
