.age-comparison-calculator {
    .result {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        color: #333;

        p {
            margin: 10px 0;

            &:first-child {
                font-size: 1.2em;
                font-weight: bold;
            }

            strong {
                color: #007bff;
            }

            br {
                margin-bottom: 10px;
            }
        }
    }
}

.salary-hike-calculator {
    .result {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        color: #333;

        p {
            margin: 10px 0;

            &:first-child {
                font-size: 1.2em;
                font-weight: bold;
            }

            strong {
                color: #007bff;
            }

            br {
                margin-bottom: 10px;
            }
        }
    }
    
    .form-group {
        .input-group {
            .input-group-prepend,
            .input-group-append {
                .input-group-text {
                    padding: 1.2rem 1.75rem;
                    margin-bottom: 0;
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
        }
    }
}