$youtube-red: #FF0000;
$youtube-dark: #282828;
$youtube-light: #F9F9F9;
$youtube-gray: #606060;

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}

.yt-wrapper {
    .yt-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin-bottom: 10px;

        .left-tabs {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            border: 1px solid #f1f1f1;
            background: #fafafa;
            border-radius: 6px;
            padding: 3px;

            .yt-tabs-div {
                font-size: 14px;
                font-weight: 500;
                color: #212427;
                padding: 0 14px;
                cursor: pointer;
            }

            .yt-tabs-active {
                background: #fff;
                border-radius: 6px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
                color: #2e83fb;
                line-height: 34px !important;
            }
        }

        .right-tabs {
            .btns {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .yt-transcript-item {
        display: flex;
        margin-bottom: 20px;
        font-size: 14px;

        .yt-transcript-item-time {
            text-align: center;
            cursor: pointer;

            .yt-transcript-item-time-a {
                color: #2e83fb;
            }
        }

        .yt-transcript-item-text {
            flex: 1;
            text-align: left !important;
            margin-left: 20px;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;
            -webkit-hyphens: auto;
            hyphens: auto;
            color: #212427;
            padding-right: 20px;

            .yt-transcript-item-text-tool {
                margin-top: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }

    .bg-white {
        background: #fff;
    }
}

.el-popover {
    position: absolute;
    background: #fff;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    word-break: break-all;
}

.el-picker-panel,
.el-popover,
.el-select-dropdown,
.el-table-filter,
.el-time-panel {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.el-select {
    display: inline-block;
    position: relative;

    .el-input {
        display: block;
    }
}

.el-input--small {
    font-size: 13px;

    .el-input__inner {
        height: 32px;
        line-height: 32px;
    }
}

.el-input__prefix,
.el-input__suffix {
    position: absolute;
    top: 0;
    text-align: center;
    -webkit-transition: all .3s;
    color: #c0c4cc;
}

.el-input--suffix {
    height: 100%;
    right: 5px;
    transition: all .3s;
    pointer-events: none;

    .el-input__inner {
        padding-right: 30px;
    }
}

.youtube-video-assistant-tags {
    .tag-input-container {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .tag {
        display: flex;
        align-items: center;
        background-color: #e0e0e0;
        color: #333;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 3px;
        font-size: 14px;
    }

    .tag-close-icon {
        margin-left: 8px;
        color: #888;
        cursor: pointer;
        font-weight: bold;
    }

    .tag-close-icon:hover {
        color: #555;
    }

    .tag-input {
        border: none;
        outline: none;
        padding: 5px;
        margin: 5px;
        font-size: 14px;
        flex-grow: 1;
    }

    .tag-input::placeholder {
        color: #aaa;
    }
}

.youtube-video-assistant-table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    border-collapse: collapse;

    thead {
        background-color: #343a40;
        color: #fff;
        text-align: left;

        th {
            padding: 12px;
            font-weight: 600;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #dee2e6;

            &:hover {
                background-color: #f1f1f1;
            }

            td {
                padding: 12px;
                vertical-align: middle;

                &:first-child {
                    font-weight: bold;
                }
            }

            .btn {
                padding: 6px 12px;
                font-size: 14px;
            }
        }
    }

    th,
    td {
        text-align: center;
    }
}

.youtube-channel-analyzer {
    .container  {
        .rainbow-accordion-style {
            .card {
                background: var(--color-blackest);
                border: 0;
                // border-radius: var(--radius);
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                .card-header {
                    background-color: transparent;
                    border-bottom: 0 none;
                    box-shadow: none;
                    padding: 20px 30px;
                    margin-bottom: 0;
                    span {
                        color: var(--color-heading);
                        font-size: 18px;
                        line-height: 27px;
                        outline: none;
                        text-decoration: none;
                        box-shadow: none;
                        width: 100%;
                        text-align: left;
                        padding: 0;
                        background: transparent;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "\e996";
                            font-family: 'feather' !important;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: 0.4s;
                        }
                        &.collapsed {
                            &::before {
                                content: "\e9b1";
                            }
                        }
                    }
                }
        
                .card-body {
                    padding: 16px;
                    padding-top: 0;
                    font-size: var(--font-size-b2);
                    line-height: var(--line-height-b2);
                    font-weight: var(--p-regular);
                    color: var(--color-body);
                    padding: 30px 20px;
                    border-top: 1px solid var(--color-border);

                    .feature-nav-btn {
                        p {
                            color: var(--color-blackest);
                        }

                        .nav-link {
                            // padding: 20px 20px !important;
                            border: 5px solid var(--color-blackest) !important;
                        }
                    }

                    .free-report-audit__demographics {
                        .demographics__item {
                            height: auto;
                            min-height: 150px;
                            border: 1px solid #ddd;
                            padding: 15px;
                            border-radius: 5px;
                            background-color: #f9f9f9;

                            &-title {
                                font-weight: bold;
                                font-size: 1.1rem;
                                margin-bottom: 10px;
                            }

                            &-value {
                                font-size: 1rem;
                                color: #555;
                            }

                            p {
                                margin: 0;
                                font-size: inherit;
                            }
                        }
                    }
                }
        
                & + .card {
                    margin-top: 20px;
                }
            }
        
            &.rainbow-accordion-02 {
                .card {
                    background: transparent;
                    border-radius: 0 !important;
                    .card-header {
                        border-bottom: 2px solid var(--color-border);
                        padding: 0px 20px 10px 0;
                        .accordion-button  {
                            &::after {
                                display: none;
                            }
                        }
                        
                    }
                    .card-body {
                        padding: 15px 20px 10px 0;
                        border-top: 0;
                    }
                }
            }
        
        
            &.rainbow-accordion-03 {
                .card {
                    background: transparent;
                    border-radius: 0 !important;
        
                    .card-header {
                        border: 2px solid var(--color-border);
                        padding: 15px 20px;
                        border-radius: var(--radius) !important;
                    }
                    .card-body {
                        padding: 15px 20px 10px 0;
                        border: 0;
                    }
                }
            }
        
            &.rainbow-accordion-04 {
                .card {
                    border: 2px solid var(--color-border);
                    background: transparent;
                    border-radius: var(--radius) !important;
        
                    .card-header {
                        padding: 15px 20px;
                        border-radius: var(--radius) !important;
                    }
                    .card-body {
                        border-top: 2px solid var(--color-border);
                    }
                }
            }
        }

        .whats-included-section {
            .container {
                .row {
                    .thumbnail-core-feature {
                        img {
                            width: 100%;
                            height: 100%;

                            @media #{$laptop-device} {
                                height: 670px;
                            }

                            @media #{$large-mobile} {
                                height: 400px !important;
                            }
                        }
                    }
                }
            }
        }
        
        .accordion-button {
            &::after {
        
                visibility: hidden;
            }
        }
        .tool-wrapper {
            position: relative;

            .result-base {
                padding: 0;

                .result-base-top {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    overflow: hidden;
                    padding: 22px 20px;
                    position: relative;

                    .result-base-top-background {
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
                        position: absolute;
                        right: 0;
                        top: 0;

                        .result-base-top-background__image {
                            background-attachment: fixed;
                            background-blend-mode: overlay;
                            background-image: var(--yt-image-background);
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: 300%;
                            filter: blur(70px);
                            height: 100%;
                            width: 100%;
                            will-change: transform;
                        }

                        .result-base-top-background__fogging {
                            background-color: #0f1021;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }

                    .result-base-top-header {
                        display: flex;

                        .result-base-top-avatar {
                            position: relative;

                            .avatar.--circle {
                                border-radius: 50%;
                            }

                            .avatar {
                                align-items: center;
                                background: #eff3f6;
                                color: #718096;
                                display: flex;
                                justify-content: center;
                                position: relative;

                                .avatar__img {
                                    height: 100%;
                                    object-fit: cover;
                                    position: relative;
                                    width: 100%;
                                }

                                .social-icon.--youtube {
                                    background: red;

                                    &::after {
                                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTExLjUgOC02IDNWNXoiLz48L3N2Zz4=);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        content: "";
                                        height: 100%;
                                        left: 0;
                                        position: absolute;
                                        top: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        .result-base-top-username {
                            align-self: center;
                            color: var(--color-white);
                            font-size: 18px;
                            line-height: 24px;
                            z-index: 2;
                        }

                        .result-base-top-share {
                            display: flex;
                            gap: 8px;
                            align-self: center;
                            margin-left: auto;
                            z-index: 10;

                            .share__title {
                                align-self: center;
                                color: var(--color-white);
                            }

                            .button {
                                align-items: center;
                                border: 0;
                                border-radius: 6px;
                                box-sizing: border-box;
                                cursor: pointer;
                                display: inline-flex;
                                font-family: inherit;
                                font-size: 100%;
                                font-weight: 600;
                                line-height: 1.15;
                                outline: none;
                                overflow: visible;
                                position: relative;
                                text-transform: none;

                                .button__content {
                                    align-items: center;
                                    display: flex;
                                    font-weight: 600;
                                    pointer-events: none;
                                    white-space: nowrap;

                                    .button__icon {
                                        margin: 0;
                                        font-size: 16px;
                                        line-height: 16px;
                                        margin-right: 8px;
                                    }
                                }
                            }

                            .button--theme-secondary {
                                background: var(--color-white);
                                box-shadow: 0 1px 1px #28345e1a, inset 0 -1px 1px #00112933, inset 0 0 0 1px #d9dfe8;
                                color: var(--color-gray);
                            }

                            .button--size-md {
                                font-size: 14px;
                                height: 40px;
                                line-height: 18px;
                                padding: 0 14px;
                            }
                        }
                    }
                }

                .result-base-content {
                    border-bottom: 1px solid #718096;
                    padding: 24px 20px;

                    .result-base-content-mainValue {
                        .content-value__title {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        .content-value-main {
                            display: flex;
                            margin-top: 8px;
                            align-items: center;

                            .content-value-main__value {
                                font-size: 38px;
                                line-height: 41px;
                            }

                            .result-base-content-mainValue-labels {
                                align-self: center;

                                .result-base-content-mainValue-labels-item.--type-average {
                                    --aqs-color: #f4ab1d;

                                    .label__size-md .label__icon-before {
                                        align-items: center;
                                        display: inline-flex;
                                        justify-content: center;
                                        position: relative;
                                        font-size: 12px;
                                        line-height: 12px;
                                        padding-right: 6px;

                                        .result-base-content-mainValue-labels-item__dot {
                                            background: var(--aqs-color);
                                            border-radius: 50%;
                                            height: 7px;
                                            width: 7px;
                                        }

                                        &::after {
                                            border: 0 solid #e2e8f0;
                                        }
                                    }

                                    .label__theme-white .label__text {
                                        color: #404452;
                                    }
                                }
                            }
                        }
                    }

                    .free-report-audit {
                        border: 1px solid #718096;
                        border-radius: 6px;
                        margin-top: 16px;

                        .free-report-audit__item {
                            border-top: 1px solid #e2e8f0;
                        }

                        .free-report-audit__item {
                            align-items: center;
                            color: #404452;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 20px 16px;

                            .free-report-audit__button {
                                padding: 20px;
                                font-size: 20px;
                            }

                            .free-report-audit__icon {
                                font-size: 14px;
                            }

                            .free-report-audit__title {
                                flex-grow: 1;
                            }

                            .free-report-audit__title,
                            .free-report-audit__metric {
                                font-weight: 400;
                                color: #083A5E;
                                font-size: 14px;
                                line-height: 18px;
                            }

                            .free-report-audit__demographics {
                                width: 100%;

                                &.text {
                                    &.--size-m {
                                        font-size: 1rem; // Adjust as needed
                                    }

                                    &.--weight-regular {
                                        font-weight: 400;
                                    }

                                    &.--theme-default {
                                        color: #000; // Default theme color, adjust as needed
                                    }
                                }

                                .col-lg-3 {
                                    margin-bottom: 20px;
                                }

                                .demographics__item {
                                    height: auto;
                                    min-height: 150px;
                                    border: 1px solid #ddd;
                                    padding: 15px;
                                    border-radius: 5px;
                                    background-color: #f9f9f9;

                                    &-title {
                                        font-weight: bold;
                                        font-size: 1.1rem;
                                        margin-bottom: 10px;
                                    }

                                    &-value {
                                        font-size: 1rem;
                                        color: #555;
                                    }

                                    p {
                                        margin: 0;
                                        font-size: inherit;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        .yt-channel-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .yt-channel-info-avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 20px;
            }

            .yt-channel-info-text {
                .yt-channel-info-title {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .yt-channel-info-subscriber {
                    font-size: 16px;
                    color: #888;
                    margin-bottom: 10px;
                }

                .yt-channel-info-description {
                    font-size: 14px;
                    color: #333;
                }
            }
        }

        .yt-channel-stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .yt-channel-stats-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .yt-channel-stats-item-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .yt-channel-stats-item-value {
                    font-size: 20px;
                    color: #333;
                }
            }
        }

        .yt-channel-videos {
            .yt-channel-videos-title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .yt-channel-videos-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
            }

            .yt-channel-videos-item {
                display: flex;
                flex-direction: column;

                .yt-channel-videos-item-thumbnail {
                    width: 100%;
                    height: 100px;
                    margin-bottom: 10px;
                }

                .yt-channel-videos-item-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .yt-channel-videos-item-meta {
                    font-size: 14px;
                    color: #888;
                }
            }
        }
    }
}

.youtube-script-assistant {
    .research-options {
        display: flex;
        flex-direction: column;
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        background-color: #fff;
        overflow: hidden;
        text-align: left;

        .option {
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #d0d0d0;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #6e1dd7 !important;

                .title,
                .description,
                .cre8dits {
                    color: #fff !important;
                }

            }

            &:last-child {
                border-bottom: none;
            }

            &.selected {
                background-color: #6e1dd7 !important;

                .title,
                .description,
                .cre8dits {
                    color: #fff !important;
                }
            }

            &.basic,
            &.intermediate,
            &.comprehensive,
            &.exhaustive {
                .title {
                    font-weight: 800;
                    font-size: 2rem;
                    color: #333;
                }

                .description {
                    // margin-top: 10px;
                    color: #555;
                }

                .cre8dits {
                    // margin-top: 10px;
                    font-weight: 800;
                    color: #777;
                    position: absolute;
                    right: 10px;
                    top: 30px;
                }
            }
        }
    }

    .research-summary {
        margin-top: 20px;

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ccc;

            th,
            td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ccc;
            }

            thead {
                background-color: #f2f2f2;

                th {
                    .disk {
                        margin: 0;
                    }

                    &.text-right {
                        text-align: right;
                    }

                    &.text-center {
                        text-align: center;
                    }

                    &.text-left {
                        text-align: left;
                    }
                }
            }

            tbody {
                background-color: #fff;
            }

            tfoot {
                background-color: #f9f9f9;

                td {
                    font-size: 1.3rem;
                    font-weight: 800;

                    .cre8dits-required,
                    .cre8dits-available,
                    .cre8dits-remaining {
                        font-weight: 800;
                    }

                    &.text-right {
                        text-align: right;
                    }

                    &.text-center {
                        text-align: center;
                    }

                    &.text-left {
                        text-align: left;
                    }
                }
            }

            .description-header,
            .cre8dits-header {
                width: 50%;
            }

            .description-content,
            .cre8dits-content {
                width: 50%;
            }

            .description-content {
                text-align: left;
            }

            .cre8dits-content {
                text-align: right;
            }
        }
    }

    .card {
        border: 1px solid #d0d0d0;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        overflow: hidden;
        text-align: left;
        margin-bottom: 20px;

        .card-header {
            padding: 10px;
            background-color: #1d1949;
            font-weight: 800;
            font-size: 1.5rem;
            color: #333;

            .nav-tabs {
                .nav-link {
                    color: #fff;
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
        }

        .card-body {
            padding: 10px;

            .summary-container {
                color: $youtube-dark;
                padding: 20px;
                margin: 20px auto;

                .summary-header {
                    @media #{$laptop-device} {
                        display: flex;
                        justify-content: flex-end;
                    }

                    .edit-button {
                        width: 100px;
                    }
                }
    
                .summary-content {
                    margin-top: 20px;

                    .summary-row {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 0;
                        border-bottom: 1px solid $youtube-gray;
        
                        &:last-child {
                            border-bottom: none;
                        }
                    }
        
                    .summary-label {
                        font-weight: bold;
                        color: $youtube-gray;
                    }
        
                    .summary-value {
                        max-width: 70%;
                        text-align: left;
                    }
                }
            }

            .framing-container {
                color: $youtube-dark;
                padding: 20px;
                margin: 20px auto;
        
                .framing-header {
                    @media #{$laptop-device} {
                        display: flex;
                        justify-content: space-between;
                    }
                    align-items: center;
                    border-bottom: 1px solid #e0e0e0;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
        
                    h2 {
                        margin: 0;
                        font-size: 2.5rem;
                        font-weight: 800;
                        color: #333;
                    }
        
                    p {
                        margin: 0;
                        font-size: 1.2rem;
                        color: #777;
                    }
        
                    .refresh-button {
                        width: 100px;
                    }
                }
        
                .framing-content {
                    .question-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 1px solid #e0e0e0;
        
                        &:last-child {
                            border-bottom: none;
                        }

                        &:hover, &.selected {
                            background-color: #b524aa !important;
                            color: #fff !important;
                        }

                        .question-number {
                            font-weight: 800;
                            @media #{$small-mobile} {
                                display: none;
                            }
                        }
        
                        .question-text {
                            flex: 1;
                            @media #{$small-mobile} {
                                text-align: left;
                                margin-right: 15px;
                            }
                        }
        
                        .question-actions {
                            display: flex;
                            gap: 10px;
        
                            .action-button {
                                padding: 5px 10px;
                                font-size: 1rem;
                                color: #fff;
                                border: none;
                                border-radius: 4px;
                                cursor: pointer;
        
                                &.choose {
                                    background-color: #28a745;
        
                                    &:hover {
                                        background-color: #218838;
                                    }
                                }
        
                                &.edit {
                                    background-color: #ffc107;
        
                                    &:hover {
                                        background-color: #e0a800;
                                    }
                                }
        
                                &.remove {
                                    background-color: #dc3545;
        
                                    &:hover {
                                        background-color: #c82333;
                                    }
                                }
                            }
                        }
                    }

                    // .question-row:nth-child(even) {
                    //     background-color: #f9f9f9;
                    // }
                }
        
                .more-button {
                    display: block;
                    width: 100%;
                    color: #fff;
                    background-color: #6c757d;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    text-align: center;
                    margin-top: 20px;
        
                    &:hover {
                        background-color: #5a6268;
                    }
                }
            }
        }

        .card-footer {
            padding: 10px;
            background-color: #f9f9f9;
            font-weight: 800;
            font-size: 1.5rem;
            color: #333;
        }
    }
}